<!-- FIXME: Include bokeh in package -->
{% load static %}

<link href="https://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-2.4.2.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>

<div id="plot-example">
    <p>If you select Project: EWI-IN625-RR-12, Category: Build and Test type: Chemistry, this tool will return the
        following chart detailing the chemical composition of all the builds belonging to the project.
        You will also be able to interact with it.</p>

     <img src="{% static 'core_visualization_app/user/img/pieChartExample.png' %}" alt="PieChart_Example"/>

</div>


<div id="plot-section" style="visibility: hidden;">

    <h1 class="page-header">Plot</h1>
    <div id="select_config_forms"  style="float:left;">
    </div>

    <div id="demo_plot" style="resize: both; overflow: auto;">
    </div>
</div>