{% load staticfiles %}

{% if data.error %}
    <div class="alert alert-danger">
      {{data.error}}
    </div>
{% else %}

<div id="plot-example">
    <h1 class='text-subtitle'>Instructions:</h1>
    <p>
        This visualization tool allows you to select data you are interested in and it returns a plot and a data table.
        You can configure your plot and use the tools to zoom and to download the visualization. You can also download the data table.
    </p>

    <h1 class='text-subtitle'>Example:</h1>
    <p>
        If you select the project "EWI-IN625-RR-12", then "Build" and finally "Chemistry", this tool will return the
        following chart detailing the chemical composition of all the builds belonging to the project.
        You will also be able to interact with it.
    </p>

     <img src="/static/core_visualization_app/user/img/pieChartExample.png" alt="PieChart_Example"/>

</div>

    <div id="selection-header">
        <h1 class="page-header">Selection</h1>
    </div>

    <form id="select-projects-form" method="post" style="visibility: visible; float: left; width:33.33%;">
        {% csrf_token %}
        {{ data.project }}
    </form>

    <form id="select-category-form" method="post" style="visibility: visible; float: left; width:33.33%;">
        {% csrf_token %}
        {{ data.categories }}
    </form>

    <form id="select-subcategory-form" method="post" style="visibility: hidden; float: right; width:33.33%;">
        {% csrf_token %}
        {{ data.subcategories }}
    </form>

    <button type="button" name="" id="load-test-data" class="btn btn-info" style="visibility: hidden; text-align: right; vertical-align: bottom">Confirm</button>

    <div id="loading_background" style="visibility: hidden;">
    {% include 'core_visualization_app/common/loading_background.html' %}
    </div>

    {% include 'core_visualization_app/user/plot.html' %}
    <p></p>
    {% include 'core_visualization_app/user/data_table.html' %}

{% endif %}
